$background-header: #4c5c68;
$background-main: #dcdcdd;
$background-footer: #c5c3c6;
$background-card: #e9e9e9;
$list-line: #333;

$font-light: rgb(117, 117, 117);
$font-white: white;
$contrast: #1985a1;
$link-color: #46494c;
$link-visited: #46494c;
$link-hover: #1985a1;

/////V2/////
// $background-header: #1d3557;
// $background-main: #f1faee;
// $background-footer: #457b9d;
// $background-card: white;
// $list-line: #333;
// $font-light: rgb(184, 184, 184);
// $font-white: white;
// $contrast: orange;
// $link-color: #e29578;
// $link-visited: #e29578;
// $link-hover: #ffcc00;

////// V1 /////
// $background-header: teal;
// $background-main: white;
// $background-footer: rgb(112, 112, 112);
// $background-card: grey;
// $list-line: #333;
// $font-light: rgb(184, 184, 184);
// $contrast: orange;
// $link-color: darkblue;
// $link-visited: midnightblue;
// $link-hover: #ffcc00;
